@import url("./colors.css");
* {
    border: none;
    border-radius: 0;
    font-family: 'JetBrainsMono Nerd Font';
    font-weight: 600;
    font-size: 11pt;
    min-height: 0;
}
window#waybar {
    /* opacity: 0.9; */
    background: @background-darker;
    color: @foreground;
    /* border-bottom: 2px solid @background; */
}
#workspaces button {
    padding: 0 6px;
    background: @background;
    color: @foreground;
}
#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    background: @selection;
}
#workspaces button.focused,
#workspaces button.active {
    background: @purple;
    color: @background;
}
#workspaces button.urgent {
    background: @red;
    color: @background;
}
#taskbar button.active {
    background: @selection;
}
#clock {
    padding: 0 4px;
    background: @background;
}
#battery.warning {
    color: @yellow;
}
#battery.critical {
    color: @red;
}
#temperature.critical {
    color: @red;
}
tooltip {
    font-family: "OverpassM Nerd Font SemiBold";
    background: @background;
}