@import url("./colors.css");
* {
    border: none;
    border-radius: 0;
    font-family: 'JetBrainsMono Nerd Font', monospace;
    font-size: 11pt;
    min-height: 0;
}
window#waybar {
    opacity: 0.9;
    background: @background-darker;
    color: @foreground;
    border-bottom: 2px solid @background;
}
#workspaces button {
    padding: 0 6px;
    background: @background;
    color: @foreground;
}
#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    background: @selection;
}
#workspaces button.focused,
#workspaces button.active {
    background: @purple;
}
#workspaces button.urgent {
    background: @red;
}
#taskbar button.active {
    background: @selection;
}
#clock {
    padding: 0 4px;
    background: @background;
}
tooltip {
    font-family: "JetBrainsMono Nerd Font";
}